/2018Tablepol.pdf
/bf02746310.pdf
/cowling-chapman-1997-the-electrical-conductivity-of-an-ionized-gas-in-a-magnetic-field-with-applications-to-the-solar.pdf
/figure.pptx
/figure1.pptx
/Ionospheres Physics, Plasma Physics, and Chemistry (Robert W. Schunk, Andrew F. Nagy) (Z-Library).pdf